.navbar_container{
    background-color:rgba(0,29,74);
    box-shadow: 0px 0px 8px 6px white;
    color:whitesmoke;
    display:flex;
    align-items:center;
    justify-content: space-between;
    position:sticky;
    top: 0;
    
}
.navbar_left{
    font-size:26px;
    font-weight:700;
    color:white;
}
.navbar_right{
    display:flex;
}
.navbar_right p{
    margin:10px;
    padding:8px 10px;
    font-size:15px;
}
.navbar_right  p:hover{
    background-color:#6A7FDB;
    cursor:pointer;
    border-radius:8px;
    box-shadow:0px 0px 4px 3px white;
    font-size: 20px;
    margin-top:6px;
    margin-bottom:6px;

}